<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>resume.html</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
    p {margin: 0; padding: 0;}    .ft10{font-size:25px;font-family:AAAAAA+ArialMT;color:#000000;}
    .ft11{font-size:14px;font-family:AAAAAA+ArialMT;color:#000000;}
    .ft12{font-size:18px;font-family:BAAAAA+Arial;color:#666666;}
    .ft13{font-size:14px;font-family:CAAAAA+Arial;color:#000000;}
    .ft14{font-size:14px;font-family:BAAAAA+Arial;color:#000000;}
    .ft15{font-size:14px;font-family:DAAAAA+Arial;color:#202024;}
    .ft16{font-size:14px;font-family:CAAAAA+Arial;color:#202024;}
    .ft17{font-size:14px;line-height:15px;font-family:AAAAAA+ArialMT;color:#000000;}
    .ft18{font-size:14px;line-height:17px;font-family:AAAAAA+ArialMT;color:#000000;}
-->
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'resume/style.css' %}">
</head>
<body bgcolor="#FFFFFF" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
{% load static %}
<img width="918" height="1188" src="{% static 'images/cy_resume001.png' %}" alt="background image"/>
<p style="position:absolute;top:55px;left:411px;white-space:nowrap" class="ft10">Cy&#160;Baca</p>
<p style="position:absolute;top:88px;left:333px;white-space:nowrap" class="ft11">(530)&#160;521-8728&#160;|&#160;cybaca@protonmail.com</p>
<p style="position:absolute;top:106px;left:307px;white-space:nowrap" class="ft11">
    <a href="https://www.linkedin.com/in/cy-baca">
        linkedin.com/in/cy-baca</a>&#160;|&#160;<a href="https://github.com/cybaca">https://github.com/cybaca</a>
</p>
<p style="position:absolute;top:145px;left:54px;white-space:nowrap" class="ft12"><i><b>Education</b></i></p>
<p style="position:absolute;top:179px;left:54px;white-space:nowrap" class="ft13"><b>California&#160;State&#160;University,&#160;Chico</b></p>
<p style="position:absolute;top:179px;left:797px;white-space:nowrap" class="ft13"><b>May&#160;2024</b></p>
<p style="position:absolute;top:195px;left:54px;white-space:nowrap" class="ft11">Bachelor&#160;of&#160;Science&#160;in&#160;Computer&#160;Science</p>
<p style="position:absolute;top:226px;left:54px;white-space:nowrap" class="ft13"><b>Butte&#160;College</b></p>
<p style="position:absolute;top:226px;left:758px;white-space:nowrap" class="ft13"><b>December&#160;2014</b></p>
<p style="position:absolute;top:241px;left:54px;white-space:nowrap" class="ft17">General&#160;Education&#160;for&#160;Transfer<br/>Major&#160;in&#160;Computer&#160;Science</p>
<p style="position:absolute;top:288px;left:54px;white-space:nowrap" class="ft13"><b>Languages:&#160;English&#160;</b>(Oral/Written)&#160;<b>Japanese&#160;</b>(Conversational)</p>
<p style="position:absolute;top:342px;left:54px;white-space:nowrap" class="ft12"><i><b>Relevant&#160;Coursework</b></i></p>
<p style="position:absolute;top:377px;left:54px;white-space:nowrap" class="ft18"><i><b>CSCI&#160;111&#160;</b></i>Programming&#160;and&#160;Algorithms&#160;I<br/><i><b>CSCI&#160;211&#160;</b></i>Programming&#160;and&#160;Algorithms&#160;II<br/><i><b>CSCI&#160;311&#160;</b></i>Algorithms&#160;and&#160;Data&#160;Structures<br/><i><b>CSCI&#160;411&#160;</b></i>Advanced&#160;Algorithms&#160;and&#160;Complexity<br/><i><b>CINS&#160;370&#160;</b></i>Intro&#160;to&#160;Databases<br/><i><b>CSCI&#160;551&#160;</b></i>Numerical/Parallel&#160;Programming<br/><i><b>CSCI&#160;515&#160;</b></i>Compiler&#160;Design</p>
<p style="position:absolute;top:377px;left:486px;white-space:nowrap" class="ft18"><i><b>CSCI&#160;340&#160;</b></i>Operating&#160;Systems<br/><i><b>CSCI&#160;446&#160;</b></i>Intro&#160;to&#160;Computer&#160;Networks<br/><i><b>CSCI&#160;430&#160;</b></i>Software&#160;Engineering<br/><i><b>EECE&#160;237&#160;</b></i>Embedded&#160;Systems&#160;Development<br/><i><b>CSCI&#160;580&#160;</b></i>Artificial&#160;Intelligence<br/><i><b>CSCI&#160;566&#160;</b></i>Computer&#160;Graphics&#160;Programming<br/><i><b>CSCI&#160;344&#160;</b></i>Shell&#160;Programming</p>
<p style="position:absolute;top:501px;left:54px;white-space:nowrap" class="ft14"><i><b>MATH&#160;351&#160;</b></i>Intro&#160;to&#160;Probability&#160;II</p>
<p style="position:absolute;top:501px;left:486px;white-space:nowrap" class="ft14"><i><b>CSCI&#160;490&#160;</b></i>Capstone</p>
<p style="position:absolute;top:558px;left:54px;white-space:nowrap" class="ft12"><i><b>Experience</b></i></p>
<p style="position:absolute;top:592px;left:54px;white-space:nowrap" class="ft13"><b>Sushi&#160;Chef&#160;</b>Big&#160;Tuna&#160;Express&#160;-&#160;<i>Chico,&#160;CA</i></p>
<p style="position:absolute;top:592px;left:722px;white-space:nowrap" class="ft16"><b>March&#160;2022&#160;-&#160;Present</b></p>
<p style="position:absolute;top:610px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:610px;left:108px;white-space:nowrap" class="ft18">I&#160;put&#160;together&#160;a&#160;team&#160;of&#160;sushi&#160;chefs&#160;to&#160;open&#160;a&#160;sister&#160;sushi&#160;restaurant&#160;to&#160;Big&#160;Tuna.&#160;My&#160;team&#160;and&#160;I&#160;coordinate&#160;every&#160;day&#160;to<br/>prepare&#160;fresh&#160;ingredients,&#160;deliver&#160;a&#160;wonderful&#160;product,&#160;and&#160;engage&#160;in&#160;customer&#160;service.</p>
<p style="position:absolute;top:646px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:646px;left:108px;white-space:nowrap" class="ft18">Some&#160;of&#160;my&#160;responsibilities&#160;include&#160;maintaining&#160;the&#160;sushi&#160;bar,&#160;keeping&#160;a&#160;fresh&#160;supply&#160;of&#160;ingredients,&#160;maintaining&#160;a&#160;schedule<br/>for&#160;my&#160;team,&#160;making&#160;sure&#160;that&#160;the&#160;cleanliness&#160;and&#160;organization&#160;of&#160;the&#160;restaurant&#160;is&#160;maintained,&#160;creating&#160;sushi&#160;including&#160;Chef’s<br/>Special&#160;rolls,&#160;and&#160;interviewing&#160;and&#160;hiring&#160;new&#160;recruits.</p>
<p style="position:absolute;top:717px;left:54px;white-space:nowrap" class="ft13"><b>Sushi&#160;Chef&#160;</b>Japanese&#160;Blossoms&#160;-&#160;<i>Chico,&#160;CA</i></p>
<p style="position:absolute;top:717px;left:706px;white-space:nowrap" class="ft16"><b>June&#160;2021&#160;-&#160;March&#160;2022</b></p>
<p style="position:absolute;top:735px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:735px;left:108px;white-space:nowrap" class="ft18">As&#160;a&#160;sushi&#160;chef,&#160;I&#160;had&#160;many&#160;responsibilities&#160;including&#160;opening&#160;and&#160;closing&#160;the&#160;restaurant,&#160;keeping&#160;track&#160;of&#160;inventory,&#160;and<br/>following&#160;strict&#160;cleanliness&#160;and&#160;organization&#160;standards.</p>
<p style="position:absolute;top:771px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:771px;left:108px;white-space:nowrap" class="ft18">Every&#160;day,&#160;my&#160;team&#160;and&#160;I&#160;would&#160;meticulously&#160;prepare&#160;fresh&#160;ingredients&#160;such&#160;as&#160;various&#160;types&#160;of&#160;fish,&#160;sauces,&#160;rice,&#160;and<br/>vegetables,&#160;in&#160;order&#160;to&#160;be&#160;ready&#160;for&#160;busy&#160;evenings.&#160;During&#160;lunch&#160;and&#160;dinner&#160;services,&#160;I&#160;had&#160;to&#160;create&#160;a&#160;high&#160;volume&#160;of&#160;sushi<br/>dishes&#160;that&#160;looked&#160;beautiful,&#160;at&#160;a&#160;fast&#160;pace.</p>
<p style="position:absolute;top:842px;left:54px;white-space:nowrap" class="ft13"><b>Sushi&#160;Chef&#160;</b>Big&#160;Tuna&#160;Sushi&#160;Bistro&#160;-&#160;<i>Chico,&#160;CA</i></p>
<p style="position:absolute;top:842px;left:688px;white-space:nowrap" class="ft16"><b>February&#160;2019&#160;-&#160;June&#160;2021</b></p>
<p style="position:absolute;top:860px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:860px;left:108px;white-space:nowrap" class="ft11">Responsible&#160;for&#160;making&#160;sushi&#160;rolls,&#160;nigiri,&#160;sashimi,&#160;and&#160;various&#160;other&#160;dishes&#160;to&#160;order.</p>
<p style="position:absolute;top:878px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:878px;left:108px;white-space:nowrap" class="ft18">Demonstrated&#160;teamwork&#160;with&#160;coworkers,&#160;strategizing&#160;and&#160;working&#160;together&#160;on&#160;an&#160;order&#160;to&#160;order&#160;basis&#160;to&#160;put&#160;out&#160;quality&#160;orders<br/>in&#160;the&#160;fastest&#160;way&#160;possible,&#160;all&#160;while&#160;maintaining&#160;conversation&#160;with&#160;customers&#160;sitting&#160;at&#160;the&#160;bar.</p>
<p style="position:absolute;top:953px;left:54px;white-space:nowrap" class="ft12"><i><b>Projects</b></i></p>
<p style="position:absolute;top:987px;left:54px;white-space:nowrap" class="ft13"><b>GPL&#160;Interpreter&#160;</b>CSCI&#160;515&#160;Compiler&#160;Design&#160;-&#160;<i>CSU,&#160;Chico</i></p>
<p style="position:absolute;top:987px;left:700px;white-space:nowrap" class="ft16"><b>January&#160;2016&#160;-&#160;May&#160;2016</b></p>
<p style="position:absolute;top:1005px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:1005px;left:108px;white-space:nowrap" class="ft18">Designed&#160;a&#160;programming&#160;language&#160;called&#160;GPL&#160;with&#160;the&#160;help&#160;of&#160;the&#160;instructor,&#160;and&#160;developed&#160;a&#160;fully&#160;functional&#160;interpreter&#160;for&#160;it<br/>using&#160;C++,&#160;flex,&#160;and&#160;bison.</p>
<p style="position:absolute;top:1041px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:1041px;left:108px;white-space:nowrap" class="ft11">Demonstrated&#160;an&#160;understanding&#160;of&#160;the&#160;C++&#160;language,&#160;Makefiles,&#160;parser&#160;generators&#160;software,&#160;and&#160;lexical&#160;analyzer&#160;generators.</p>
<p style="position:absolute;top:1076px;left:54px;white-space:nowrap" class="ft13"><b>FFVII&#160;Native&#160;</b>Personal&#160;Project&#160;-&#160;<i>Chico,&#160;CA</i></p>
<p style="position:absolute;top:1076px;left:785px;white-space:nowrap" class="ft16"><b>2018&#160;-&#160;2020</b></p>
<p style="position:absolute;top:1094px;left:81px;white-space:nowrap" class="ft11">-</p>
<p style="position:absolute;top:1094px;left:108px;white-space:nowrap" class="ft18">Reverse&#160;engineered&#160;software&#160;from&#160;the&#160;PlayStation&#160;game&#160;Final&#160;Fantasy&#160;VII&#160;and&#160;wrote&#160;software&#160;to&#160;import&#160;assets&#160;and&#160;the&#160;kernel<br/>from&#160;the&#160;game,&#160;and&#160;run&#160;the&#160;game&#160;natively&#160;on&#160;PC&#160;hardware.&#160;Written&#160;in&#160;C&#160;from&#160;scratch.&#160;Still&#160;a&#160;work&#160;in&#160;progress.</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>cy_resume-html.html</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
    p {margin: 0; padding: 0;}    .ft20{font-size:14px;font-family:CAAAAA+Arial;color:#000000;}
    .ft21{font-size:14px;font-family:AAAAAA+ArialMT;color:#000000;}
    .ft22{font-size:14px;font-family:DAAAAA+Arial;color:#202024;}
    .ft23{font-size:14px;font-family:CAAAAA+Arial;color:#202024;}
    .ft24{font-size:18px;font-family:BAAAAA+Arial;color:#666666;}
    .ft25{font-size:14px;font-family:AAAAAA+ArialMT;color:#202024;}
    .ft26{font-size:14px;line-height:17px;font-family:AAAAAA+ArialMT;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<!--
    <div id="page2-div" style="position:relative;width:918px;height:1188px;">
-->
    <div id="page2-div" style="position:relative;width:918px;height:1188px;">
{% load static %}
<img width="918" height="1188" src="{% static 'images/cy_resume002.png' %}" alt="background image"/>

<p style="position:absolute;top:72px;left:54px;white-space:nowrap" class="ft20"><b>VidDiffusion&#160;</b>CSCI&#160;430&#160;Software&#160;Engineering&#160;-&#160;<i>CSU,&#160;Chico</i></p>
<p style="position:absolute;top:72px;left:666px;white-space:nowrap" class="ft23"><b>August&#160;2024&#160;-&#160;December&#160;2024</b></p>
<p style="position:absolute;top:90px;left:81px;white-space:nowrap" class="ft21">-</p>
<p style="position:absolute;top:90px;left:108px;white-space:nowrap" class="ft26">Demonstrated&#160;the&#160;ability&#160;to&#160;collaborate&#160;with&#160;a&#160;team&#160;to&#160;develop&#160;software&#160;using&#160;Git&#160;and&#160;Github.&#160;Together,&#160;we&#160;created&#160;an&#160;app&#160;that<br/>allows&#160;users&#160;to&#160;easily&#160;edit&#160;videos&#160;using&#160;a&#160;simple&#160;UI&#160;that&#160;is&#160;easy&#160;to&#160;install&#160;for&#160;someone&#160;with&#160;little&#160;technical&#160;ability.</p>
<p style="position:absolute;top:126px;left:81px;white-space:nowrap" class="ft21">-</p>
<p style="position:absolute;top:126px;left:108px;white-space:nowrap" class="ft21">Together,&#160;we&#160;employed&#160;JavaScript&#160;and&#160;React&#160;on&#160;electron&#160;to&#160;build&#160;a&#160;UI&#160;around&#160;the&#160;StableDiffusion&#160;software.</p>
<p style="position:absolute;top:162px;left:54px;white-space:nowrap" class="ft20"><b>3DSign&#160;</b>CSCI&#160;490&#160;Capstone&#160;-&#160;<i>CSU,&#160;Chico</i></p>
<p style="position:absolute;top:162px;left:700px;white-space:nowrap" class="ft23"><b>January&#160;2024&#160;-&#160;May&#160;2024</b></p>
<p style="position:absolute;top:179px;left:81px;white-space:nowrap" class="ft21">-</p>
<p style="position:absolute;top:179px;left:108px;white-space:nowrap" class="ft21">I&#160;designed&#160;software&#160;that&#160;allows&#160;a&#160;user&#160;to&#160;input&#160;a&#160;password&#160;on&#160;their&#160;PC&#160;using&#160;hand&#160;movements.</p>
<p style="position:absolute;top:197px;left:81px;white-space:nowrap" class="ft21">-</p>
<p style="position:absolute;top:197px;left:108px;white-space:nowrap" class="ft26">The&#160;hand&#160;movements&#160;are&#160;captured&#160;by&#160;a&#160;Raspberry&#160;Pi&#160;and&#160;an&#160;MPU9250&#160;Inertial&#160;Measurement&#160;Unit&#160;connected&#160;via&#160;GPIO.&#160;The<br/>movement&#160;data&#160;is&#160;interpreted&#160;onboard&#160;the&#160;Pi&#160;and&#160;then&#160;sent&#160;via&#160;Bluetooth&#160;to&#160;a&#160;receiving&#160;device.&#160;Password&#160;data&#160;is&#160;stored&#160;has<br/>salted&#160;hash&#160;strings&#160;in&#160;a&#160;local&#160;shadow&#160;file.</p>
<p style="position:absolute;top:251px;left:81px;white-space:nowrap" class="ft21">-</p>
<p style="position:absolute;top:251px;left:108px;white-space:nowrap" class="ft21">This&#160;project&#160;uses&#160;C,&#160;GNU&#160;Make,&#160;petzval’s&#160;“btferret”&#160;Bluetooth&#160;library,&#160;I2C&#160;Bus,&#160;and&#160;Glibc’s&#160;Crypt&#160;library.</p>
<p style="position:absolute;top:308px;left:54px;white-space:nowrap" class="ft24"><i><b>Technical&#160;Skills</b></i></p>
<p style="position:absolute;top:342px;left:81px;white-space:nowrap" class="ft22"><i>-</i></p>
<p style="position:absolute;top:342px;left:108px;white-space:nowrap" class="ft25">C/C++</p>
<p style="position:absolute;top:360px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:360px;left:108px;white-space:nowrap" class="ft25">Embedded&#160;System&#160;Development</p>
<p style="position:absolute;top:378px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:378px;left:108px;white-space:nowrap" class="ft25">Python</p>
<p style="position:absolute;top:395px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:395px;left:108px;white-space:nowrap" class="ft25">JavaScript</p>
<p style="position:absolute;top:413px;left:81px;white-space:nowrap" class="ft22"><i>-</i></p>
<p style="position:absolute;top:413px;left:108px;white-space:nowrap" class="ft25">GDB/GProf</p>
<p style="position:absolute;top:431px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:431px;left:108px;white-space:nowrap" class="ft25">Docker</p>
<p style="position:absolute;top:449px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:449px;left:108px;white-space:nowrap" class="ft25">GNU&#160;Make</p>
<p style="position:absolute;top:467px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:467px;left:108px;white-space:nowrap" class="ft25">GNU&#160;Debugger</p>
<p style="position:absolute;top:485px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:485px;left:108px;white-space:nowrap" class="ft25">JavaScript</p>
<p style="position:absolute;top:502px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:502px;left:108px;white-space:nowrap" class="ft25">Bash/Posix&#160;Utilities</p>
<p style="position:absolute;top:520px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:520px;left:108px;white-space:nowrap" class="ft25">Linux</p>
<p style="position:absolute;top:538px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:538px;left:108px;white-space:nowrap" class="ft25">Windows</p>
<p style="position:absolute;top:342px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:342px;left:540px;white-space:nowrap" class="ft25">Ubuntu</p>
<p style="position:absolute;top:360px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:360px;left:540px;white-space:nowrap" class="ft25">Git/Github</p>
<p style="position:absolute;top:378px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:378px;left:540px;white-space:nowrap" class="ft25">Software&#160;Debugging</p>
<p style="position:absolute;top:395px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:395px;left:540px;white-space:nowrap" class="ft25">React.js</p>
<p style="position:absolute;top:413px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:413px;left:540px;white-space:nowrap" class="ft25">Electron</p>
<p style="position:absolute;top:431px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:431px;left:540px;white-space:nowrap" class="ft25">Django</p>
<p style="position:absolute;top:449px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:449px;left:540px;white-space:nowrap" class="ft25">CI/CD</p>
<p style="position:absolute;top:467px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:467px;left:540px;white-space:nowrap" class="ft25">SQL</p>
<p style="position:absolute;top:485px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:485px;left:540px;white-space:nowrap" class="ft25">AWS</p>
<p style="position:absolute;top:502px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:502px;left:540px;white-space:nowrap" class="ft25">Firebase</p>
<p style="position:absolute;top:520px;left:513px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:520px;left:540px;white-space:nowrap" class="ft25">Go&#160;Programming&#160;Language</p>
<p style="position:absolute;top:595px;left:54px;white-space:nowrap" class="ft24"><i><b>Interests</b></i></p>
<p style="position:absolute;top:629px;left:81px;white-space:nowrap" class="ft22"><i>-</i></p>
<p style="position:absolute;top:629px;left:108px;white-space:nowrap" class="ft25">Travel</p>
<p style="position:absolute;top:629px;left:486px;white-space:nowrap" class="ft25">I’ve&#160;been&#160;to&#160;Japan&#160;and&#160;Scotland&#160;so&#160;far.</p>
<p style="position:absolute;top:647px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:647px;left:108px;white-space:nowrap" class="ft25">Gym</p>
<p style="position:absolute;top:647px;left:486px;white-space:nowrap" class="ft25">I&#160;enjoy&#160;weight&#160;training&#160;4&#160;or&#160;5&#160;days&#160;a&#160;week.</p>
<p style="position:absolute;top:665px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:665px;left:108px;white-space:nowrap" class="ft25">Outdoors</p>
<p style="position:absolute;top:665px;left:486px;white-space:nowrap" class="ft25">I&#160;spend&#160;much&#160;time&#160;outdoors&#160;bicycling,&#160;skating,&#160;or&#160;swimming.</p>
<p style="position:absolute;top:683px;left:81px;white-space:nowrap" class="ft25">-</p>
<p style="position:absolute;top:683px;left:108px;white-space:nowrap" class="ft25">Gaming</p>
<p style="position:absolute;top:683px;left:486px;white-space:nowrap" class="ft25">I&#160;love&#160;RPGs&#160;like&#160;The&#160;Witcher&#160;as&#160;well&#160;as&#160;Switch&#160;gaming.</p>
</div>
</body>
</html>
